/* Large desktop */




@media (max-width:4000px ) {
    aside {
        width: 335px;
    }
}



@media (min-width: 980px) and (max-width: 1190px) {


    .slogan {
        font-weight: 400;
        font-size: 90px;
        line-height: 91px;
    }

    .region-title {
        font-weight: 400;
        font-size: 22px;
    }
}



/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

    aside {
        width: 39%;
        height: 100%;
    }

    .slogan {
        font-weight: 400;
        font-size: 60px;
        line-height: 61px;
    }

    .region-title {
        font-weight: 400;
        font-size: 17px;
    }

}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

    .modal-body, .modal-footer {
        margin-left: -29px !important;
    }


    aside {
        position: relative;
        width: 335px;
        bottom: 0;
        margin: 0 auto;
        height: auto;
    }


    .slogan {
        font-weight: 400;
        font-size: 60px;
        line-height: 61px;
    }

    .region-title {
        font-weight: 400;
        font-size: 17px;
    }

    body {
        margin: 0;
        padding: 0;
        color: #fff;
        background: url(../images/bg.jpg) no-repeat bottom fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    footer {
        bottom: 40px;
        width: 90%;
    }
    .slogan, .region-title {
        text-align: center;
    }

    .resp-title {
        display: block;
        text-align: center;
        padding-top: 17px;
        font-size: 31px;
    }

    h2 {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .slogan, .region-title {
        display: none;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {

    aside {
        position: relative;
        height: auto;
        width: 100%;
        bottom: 0;
        margin: 0 auto;
    }


    .slogan {
        font-weight: 400;
        font-size: 45px;
        line-height: 46px;
    }

    .region-title {
        font-weight: 400;
        font-size: 13px;
    }



    #apply-contact-form {
        width: 95.5%;
    }

    footer {
        width: 77% !important;

    }
    .slogan {
        font-weight: 400;
        font-size: 32px;
        line-height: 36px;
    }


}

@media (max-width: 360px) {
    .thumb-wrapper {

    }

    .thumb-container {
        margin: 0 auto;
        height: 130px;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 20px;
        background: url(../images/sidebar_photo.jpg) no-repeat top;
        background-size: 210px 130px;
        margin-top: 10px;
        margin-bottom: 10px;
    }



}
