/* Large desktop */


@media (min-width: 1400px) and (max-width:1900px ) {
    aside {
        width: 22% !important;
    }
}

@media (min-width: 2301px) and (max-width:4000px ) {
    aside {
        width: 14% !important;
    }
}

@media (min-width: 1899px) and (max-width:2300px ) {
    aside {
        width: 16% !important;
    }
}

@media (min-width: 1200px) and (max-width: 1390px) {
    aside {
        width: 25%;
    }
}

@media (min-width: 980px) and (max-width: 1190px) {
    aside {
        width: 30%;
    }


    .slogan {
        font-weight: 400;
        font-size: 90px;
        line-height: 91px;
    }

    .region-title {
        font-weight: 400;
        font-size: 22px;
    }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

    .thumb-wrapper {
        width: 90%;
    }

    aside {
        width: 39%;
    }

    .slogan {
        font-weight: 400;
        font-size: 60px;
        line-height: 61px;
    }

    .region-title {
        font-weight: 400;
        font-size: 17px;
    }

}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

    .thumb-wrapper {
        width: 90%;
    }


    aside {
        position: relative;
        height: 300px;
        width: 100%;
        bottom: 0;
        margin: 0 auto;
    }

    .slogan {
        font-weight: 400;
        font-size: 60px;
        line-height: 61px;
    }

    .region-title {
        font-weight: 400;
        font-size: 17px;
    }

    body {
        margin: 0;
        padding: 0;
        color: #fff;
        background: url(../images/bg.jpg) no-repeat bottom fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {

    aside {
        position: relative;
        height: 300px;
        width: 100%;
        bottom: 0;
        margin: 0 auto;
    }


    .slogan {
        font-weight: 400;
        font-size: 45px;
        line-height: 46px;
    }

    .region-title {
        font-weight: 400;
        font-size: 13px;
    }


}