/* Large desktop */


@media (min-width: 1400px) and (max-width:3000px ) {
    aside {
        width: 18%;
    }
}

@media (min-width: 1200px) and (max-width: 1390px) {
    aside {
        width: 25%;
    }
}

@media (min-width: 980px) and (max-width: 1190px) {
    aside {
        width: 30%;
    }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

    aside {
        width: 35%;
    }

}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

    aside {
        position: relative;
        height: 300px;
        width: 100%;
        bottom: 0;
        margin: 0 auto;
    }

    body {
        margin: 0;
        padding: 0;
        color: #fff;
        background: url(../images/bg.jpg) no-repeat bottom fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {

    aside {
        position: relative;
        height: 300px;
        width: 100%;
        bottom: 0;
        margin: 0 auto;
    }

}