textarea {
    resize: none;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0;
    padding: 0;
    color: #fff;
    background: #fafafa url(../images/bg.jpg) center bottom;
    background-repeat: no-repeat;
    background-color: #001528;
    background-size: 100%;
    overflow-x: hidden;
}