@import url(http://fonts.googleapis.com/css?family=Cinzel:400,700,900);
/* Reset */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

textarea {
    resize: none;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-family: 'Cinzel', serif;
}

html, body {
    height: 100%;
    font-family: 'cinzel', sans-serif;
    -webkit-font-smoothing: antialiased;
}

h2 {
text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
font-size: 22px;
}


h3 {
    color: #757575;
    font-weight: 400;
    text-shadow: 1px 0 0 #757575;
    text-align: center;
    font-size: 16px;
}

a, a:hover {
    color: #fff;
}



.thumb-container {
    margin: 0 auto;
    height: 150px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
    background: url(../images/sidebar_photo.jpg) no-repeat top;
    background-size: 242px 150px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.thumb-pos {
    width: 242px;
    margin: 0 auto;
}

body {
    margin: 0;
    padding: 0;
    color: #fff;
    background: url(../images/bg.jpg) no-repeat left top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.wrapper {
    padding-top: 15px;
    display: block;
    position: relative;
    height: auto;
}

aside {

    height: 100%;
    position: fixed;
    background: none repeat scroll 0 0 rgba(6, 30, 61, 0.94);
    right: 0;
    top: 0;
    z-index: 1000;
}

.thumb-wrapper {
    background-color: #fff;
    width: 90%;
    margin: 0 auto;
    position: relative;
    padding: 10px 20px 10px 20px;
}

.logo-wrapper {
    position: relative;
    float: left;
    top: 0;
    padding-left: 67px;
    padding-top: 10px;
    z-index: 9999;
}

.logo-title {
    font-size: 18px;
    text-shadow: 1px 0 0 #fff;
    font-weight: 400;
    text-transform: capitalize;
    position: absolute;
    left: 0;
    width: 136%;
    text-align: center;
    padding-top: 5px;
}

.slogan, .region-title {
    color: #fff;
    text-align: left;
}

.slogan {
    font-weight: 400;
    font-size: 121px;
    text-shadow: 1px 0 0 #fff;
    line-height: 120px;
}

.region-title {
    font-weight: 400;
    text-shadow: 1px 0 0 #fff;
    font-size: 33px;
}

footer {
    position: absolute;
    bottom: 50px;
    left: 34px;
}

#booknow {
text-transform: uppercase;
    color: #fff;
    text-shadow: 1px 0 0 #fff;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    float: none;
    position: relative;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.btn-primary {
    color: #fff;
    border-color: #357ebd;
    background: #215593; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzUwODNiYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjE2JSIgc3RvcC1jb2xvcj0iIzRhN2JiMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU0JSIgc3RvcC1jb2xvcj0iIzQyNzJhNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc3JSIgc3RvcC1jb2xvcj0iIzNiNmE5ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzODY2OTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #5083bc 0%, #4a7bb3 16%, #4272a7 54%, #3b6a9d 77%, #386699 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5083bc), color-stop(16%,#4a7bb3), color-stop(54%,#4272a7), color-stop(77%,#3b6a9d), color-stop(100%,#386699)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #5083bc 0%,#4a7bb3 16%,#4272a7 54%,#3b6a9d 77%,#386699 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #5083bc 0%,#4a7bb3 16%,#4272a7 54%,#3b6a9d 77%,#386699 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #5083bc 0%,#4a7bb3 16%,#4272a7 54%,#3b6a9d 77%,#386699 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #5083bc 0%,#4a7bb3 16%,#4272a7 54%,#3b6a9d 77%,#386699 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5083bc', endColorstr='#386699',GradientType=0 ); /* IE6-8 */
}

hr {
    width: 90%;
    color: #fff;
margin-top: 25px;
    margin-bottom: 25px;
}

.logo-sidebar {
    background: url(../images/logo.png) no-repeat center;
    background-size: 94px 94px;
    width: 100%;
    height: 100px;
}

.company {
    font-size: 16px;
    font-weight: 400;
    color: #a2acb8;
    text-shadow: 1px 0 0  #a2acb8;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;

}
.address-data {
    text-align: center;
    color: #a2acb8;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 30px;
}

/*RETINA*/
@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {

    .logo-sidebar {
        background: url(../images/logo@2x.png) no-repeat center;
        background-size: 94px 94px;
        width: 100%;
        height: 100px;
    }


    .thumb-container {
        margin: 0 auto;
        height: 150px;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 20px;
        background: url(../images/sidebar_photo@2x.jpg) no-repeat top;
        background-size: 242px 150px;
        margin-top: 10px;
        margin-bottom: 10px;
    }


}

